* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  width: 75vw;
  height: 15vh;
  border-radius: 16px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.apple-shelf {
  background-color: rgb(233, 102, 102);
}

.orange-shelf {
  background-color: rgb(255, 183, 50);
}